<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>AngularJS</title>

        <meta name="description" content="AngularJS">
        <meta name="author" content="Will Fuqua">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.min.css">
        <link rel="stylesheet" href="css/theme/one-mozilla.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/hemisu-light.css">

        <style type="text/css">
            .reveal .arrow {
                position:relative;
                text-align:left;
                font-size:0.7em;
                color:#9E3B3B;
                color:#FF5E99;
                font-weight:bold;
            }
            .references, .references li {
                font-size:0.70em;
            }
            .reveal .progress span {
                background-color:#9E3B3B;
            }
            .reveal pre code {
                font-family:Consolas, Inconsolata, monospace;
            }
            input {
                font-size:inherit;
                padding:0.2em;
            }
            .reveal h2 {
                margin-bottom:1em;
            }
            .reveal li {
                line-height:1.5em;
            }
            .reveal .live-demo {
                background-color:#EAEFF2;
                width:90%;
                margin:1em auto;
                padding:0.4em;
                box-sizing:border-box;
            }
            .reveal .live-demo p {
                margin-top:0.2em;
                margin-bottom:0;
            }
            .reveal blockquote {
                width:90%;
            }

        </style>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body ng-app>

        <div class="reveal">
            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section>
                    <img style="width:60%;margin-bottom:2em" src="img/AngularJS-large.png" />
                    <p>
                    <small>Will Fuqua | Michigan!/usr/group | February 2014</small>
                    </p>
                </section>

                <section>
                    <h2>The Problem</h2>
                    <ul>
                        <li>HTML was originally envisioned for static documents</li>
                        <li>Adding dynamic behavior with JavaScript is awkward</li>
                        <li>Complex web apps are hard</li>
                    </ul>
                </section>

                <section>
                    <h2>The Problem</h2>
                    <div class="live-demo">
                        <input type="text" ng-model="name" />
                        <p>Hello, {{name}}</p>
                    </div>
                    <div class="fragment">
                        Plain Ol' JavaScript:
                        <pre><code class="html">
<input type="text" id="my-input-box" />
<p id="my-label"></p>
                        </code></pre>
                        <pre><code class="javascript">
var myInput = document.getElementById("my-input-box");
var myLabel = document.getElementById("my-label");
myInput.addEventListener("change", function() {
    myLabel.innerText = "Hello, " + this.value;
}, false);
                        </code></pre>
                    </div>
                </section>
                <section>
                    <blockquote>
                        The business domains we operate in are complex. 
                        We want our tools to remove technical complexity, so we can focus on solving business problems.
                    </blockquote>
                </section>
                <section>
                    <h2>HTML with Angular</h2>
                    <div class="live-demo">
                        <input type="text" ng-model="name" />
                        <p>Hello, {{name}}</p>
                    </div>
                    <div class="fragment">
                        <pre><code class="html" ng-non-bindable>
<input type="text" ng-model="name" />
<p>Hello, {{name}}</p>
                        </code></pre>
                    </div>
                </section>
                <section>
                    <h2>AngularJS's Solution</h2>
                    <ul>
                        <li><strong>Model / View / Controller</strong> architecture</li>
                        <li><strong>Databinding</strong> removes boilerplate "glue code"</li>
                        <li><strong>Extends HTML</strong> with a vocabulary for dynamic web apps
                            <ul>
                                <li>Useful out-of-the-box extensions (called <strong>directives</strong>)</li>
                                <li>Create your own directives</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2>MVC Architecture</h2>
                    <img src="img/MVC-Process.svg" alt="">
                </section>
                <section>
                    <h2>Angular's MVC Architecture</h2>
                    <img src="img/angular-mvc.svg" style="width:90%" alt="">
                </section>
                <section>
                    <h2>A Simple Angular App</h2>
                    <pre><code class="html" data-trim ng-non-bindable>
&lt;html ng-app&gt;
    &lt;head&gt;
        &lt;script src="angular.js"&gt;&lt;/script&gt;
        &lt;script&gt;
            function FavoritesController($scope)
            {
                $scope.favoriteThings = ["linux", "angularjs", "unicorns"];
            }
        &lt;/script&gt;
    &lt;/head&gt;
    &lt;body ng-controller="FavoritesController"&gt;
        &lt;h1&gt;My Favorite Things&lt;/h1&gt;
        &lt;ul&gt;
            &lt;li ng-repeat="item in favoriteThings"&gt;{{item}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/body&gt;
&lt;/html&gt;
                    </code></pre>
                    <div class="arrow fragment" style="top:-17.1em; left: 8em">&#11071; root of our app</div>
                    <div class="arrow fragment" style="top:-15.1em; left: 22em">&#11071; define a controller</div>
                    <div class="arrow fragment" style="top:-14.9em; left: 0em">set the model &#10547;</div>
                    <div class="arrow fragment" style="top:-12.9em; left: 21.5em">&#11071; attach controller to view</div>
                    <div class="arrow fragment" style="top:-11.8em; left: 28.5em">&#11071; databind to model</div>
                </section>
                <section>
                    <h2>MVC - The Controller</h2>
                    Our controller
                    <pre><code class="javascript" ng-non-bindable data-trim>
function FavoritesController($scope)
{
    $scope.favoriteThings = ["linux", "angularjs", "unicorns"];
}
                    </code></pre>
                    <p>Uses <strong>Dependency Injection</strong></p>
                    <div class="fragment">
                        <pre><code class="javascript" ng-non-bindable data-trim>
function FavoritesController($log)
{
    $log.debug("now we have logging!");
}
                        </code></pre>
                    </div>
                    <div class="fragment">
                    or maybe...
                        <pre><code class="javascript" ng-non-bindable data-trim>
function FavoritesController($http)
{
    // make an http request!
    $http.get("/api/favorite-things", function(data) { 
        ...
    });
}
                        </code></pre>
                    </div>
                </section>
                <section>
                    <h2>MVC - The Controller</h2>
                    <h3>Tying it all together</h3>
                    <pre><code class="javascript" ng-non-bindable data-trim>
function FavoritesController($scope, $http, $log)
{
    $log.debug("Making http request for favorites data...");
    $http.get("/api/favorite-things", function(favorites) { 
        $log.debug("...received response from server");
        $scope.favoriteThings = favorites;
    });
}
                    </code></pre>
                </section>
                <section>
                    <h2>MVC - The Model</h2>
                    The Model, <code>$scope</code>, holds data for the view:
                    <pre><code class="javascript" ng-non-bindable data-trim>
...
{
    $scope.favoriteThings = ["linux", "angularjs", "unicorns"];
    $scope.mostFavoriteThing = "The Big Lebowski";
}
                    </code></pre>
                    <div class="fragment">
                        It can also hold functions for the view to call:
                        <pre><code class="javascript" ng-non-bindable data-trim>
...
{
    $scope.favoriteThings = ["linux", "angularjs", "unicorns"];
    $scope.addFavorite = function(newFavorite) {
        $scope.favoriteThings.push(newFavorite);
    }
}
                        </code></pre>
                    </div>
                </section>
                <section>
                    <h2>Let's build something!</h2>
                    <p class="references">References</p>
                    <ul class="references">
                        <li>MVC Architecture: http://en.wikipedia.org/wiki/File:MVC-Process.svg</li>
                    </ul>
                </section>
            </div>
        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.min.js"></script>
        <script>
            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: false,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                // Parallax scrolling
                // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                // parallaxBackgroundSize: '2100px 900px',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });
        </script>
    </body>
</html>
