<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Flight App</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
</head>
<body ng-app="flightApp">
    @RenderBody()
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>